@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
/* fonts are Inter and Lexend Deca  */
body{
    background-color: hsl(233, 47%, 7%);
    font-family: lexend deca;
    display: flex;
    min-height:100vh; 
    align-items: center;
    justify-content: center; 
}
h1{
    font-size: 30px;
    margin-left: 15%;
    margin-top: 50px;
}
p{
    margin-left: 15%;
    margin-right: 15%;
    font-family: inter;
    font-size: 13px;
    line-height: 25px;
    color: hsla(0, 0%, 100%, 0.75);
}

.list_head{
    font-size: 20px;
    font-family: inter;
    font-weight: 700;
    color: white;
}
li{
    margin-bottom: 5px;
}
ul{
    padding: 0px;
    list-style: none;
    font-family: lexend deca;
    font-size: 12px;
    color: hsla(0, 0%, 100%, 0.6);    
}
#list{
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
}
main{
    background-color:  hsl(244, 38%, 16%);
    color: white;
    display: flex;
    border-radius: 10px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;

}
#purpleword{
    color: hsl(277, 64%, 61%) ;
}
.content_img{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:  hsl(277, 64%, 61%) ;
    width: 50%;
}
 #header{
    filter:opacity(0.8); /* drop-shadow(0 0 0 hsl(277, 64%, 61%)) brightness(70%) saturate(4) contrast(110%); */
    width: 100%;
    min-height: 100%;
    mix-blend-mode: multiply;
    border-top-right-radius:  inherit;
    border-bottom-right-radius: inherit;
} 
#text{
    width: 50%;
}

@media screen and (width<500px) {
    body {
        margin-top: 50px;
    }
    h1{
        margin: 0px;
        margin-top: 25px;
        font-size: 25px;
    }
    p{
        margin: 0px;
        margin-top: 25px;
        font-size: 13px;
        line-height: 25px;
        color: hsla(0, 0%, 100%, 0.75);
        padding-right: 10px;
    }
    #list{
        margin-top: 20px;
        margin-left: 15%;
        margin-right: 15%;
        flex-direction: column;
        
    }

    main{
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        height: 90vh;
        margin-top: 0px;
        
    }
    .content_img{
        width: 100%;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
    }
    #text{
        width: 80%;
       height: 100%;
        padding :10px;
        padding-left: 10%;
        padding-right: 10%;
    }
}